body{

    display: flex;
    justify-content: center;
    align-items: center;

}

.main-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: brown;
    border-radius: 12px;
    padding: 12px;

}

/* TOP ELEMENTS */

.top-btn-container{
 
    display: flex;
    align-items: center;
    justify-content: center; 

    height: 65px;

}

.pixel-display{

    background-color: darkred;
    color: aliceblue;
    border-radius: 6px;

    margin: 12px;
    padding: 6px;

}

.left-arrow-btn{

    padding: 6px;
    border-radius: 6px;
    width: 32px;
  
}
.right-arrow-btn{

    padding: 6px;
    border-radius: 6px;
    width: 32px;
    
}

/* MIDDLE ELEMENTS */

.screen-container{

    display: flex;
    background-color: gray;

    margin: 24px;
    
}

.screen{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 400px;
    height: 400px;
}

.div-pixel-white{

    background-color: wheat;
    
    flex: 1 1 auto;
}

.div-pixel-black{

    background-color: black;
   
    flex: 1 1 auto;

}

/* BOTTOM ELEMENTS */

.bottom-btn-container{

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 65px;
    width: 100%;

}

.reset-btn{

    padding: 8px;
    background-color: aliceblue;
    
    font-weight: bold;
    border-radius: 6px;
}

.start-btn{

    padding: 8px;
    background-color: aliceblue;
    
    font-weight: bold;
    border-radius: 6px;
}

.power-btn{

    padding: 8px;
    background-color: aliceblue;
    
    font-weight: bold;
    border-radius: 6px;
}

